.header {
  background: url('../img/beatles-walking.jpg') no-repeat;
  background-size: cover;
  opacity: .7;
  height: 300px;
  width: 100%;
  margin-top: -50px;
}

.navigation li {
  display: inline;
  list-style-type: none;
  padding: 100px; /* spaced nav out */
  font-family: sans-serif;
  font-size: 25px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  color: brown;
}

.navigation {
  padding-top: 50px; /* moved nav down */
}

.navigation ul {

}

p {
  color: #FFB68D;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0;
  text-align: center;
  background-color: #69371B;
}

.title {
  padding-top: 20px;
  font-size: 75px;
  text-shadow: 2px 2px 2px #fff;
  font-family: 'Della Respira', serif;
}

.images1 img {
  float: left;
  padding-right: 50px;
  border-radius: 200px;
  padding-top: 20px;
  padding-left: 20px;
}

.images1 {

}

.images2 {
  clear: both;
}

.images2 img {
  float: right;
  padding-left: 50px;
  border-radius: 200px;
  padding-right: 20px;
}

.text1 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 200px;
  font-family: 'Copse', serif;
  font-size: 20px;
  background-color: #221005;
  width: 30%;
  float: right;
  margin-right: 70px;
}

.text2 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 200px;
  font-family: 'Copse', serif;
  font-size: 20px;
  background-color: #221005;
  width: 30%;
  float: left;
  margin-left: 70px;
}

/* Media Query max-width: 1295 */
@media screen and (max-width: 1295px) {
    img {
      height: 250px;
      width: 400px;
    }

    .text1 {
      width: 10%;
      height: 100px;
      font-size: 80%;
      padding-top: 30px;
    }

    .text2 {
      width: 10%;
      height: 100px;
      font-size: 80%;
      padding-top: 30px;
    }
}

/* Media Query 300-480 */
@media screen and (max-width: 480px) and (min-width: 300px) {
    body {
      background-color: #000;
      color: #fff;
    }
}


/* Media Query 700-1000 */
@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: teal;
  }
}
